.carousel{
    height: 415px;
    border-radius: 25px;
    position: relative;

}
.carousel-image{
    height: 100%;
}
.carousel-image img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
}


.carousel-arrow{
    background-color: transparent;
    width: 56px;
    height: 56px;
    border: none;
    border-bottom: 10px solid white;
    border-left: 10px solid white;

    position: absolute;
    top: 160px;
}

.carousel-arrow:hover{
    cursor: pointer;
}

.carousel-arrow.left {
    left: 37px;
    transform: rotate(45deg);
}

.carousel-arrow.right {
    right: 37px;
    transform: rotate(-135deg);
}

.carousel-number{
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -10px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

}

@media screen and (max-width: 767px){
    .carousel {
        height: 255px;
        border-radius: 10px;
    }

    .carousel-image img {
        border-radius: 10px;
    }


    .carousel-arrow {
        width: 15px;
        height: 15px;
        border-bottom: 2px solid white;
        border-left: 2px solid white;
        top: 120px;
    }

    .carousel-arrow.left {
        left: 10px;
    }

    .carousel-arrow.right {
        right: 10px;
    }

    .carousel-number {
        display: none;

    }
}
