#cards {
    background-color: #F6F6F6;
    padding: 30px;
    border-radius: 25px;
    width: 88%;
    margin: auto;
    display: grid;
    grid-template-rows: 340px;
    grid-template-columns: repeat(3, 2fr);
    gap: 40px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px */
}

@media screen and (max-width: 767px){
    #cards{
        background-color: white;
        padding: 0;
        width: 100%;   
        display: initial; 
    }
}

.progress{
    width: 120px;
    height: 22px;
    border-radius: 20px;
    color: #FF6060;
    border: 2px solid;
    position: relative;
    margin: auto;
    top: 30px;
}

.progress::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: p 2s infinite;
}

@keyframes p {
    100% {
        inset: 0
    }
}